@tailwind base;
@tailwind components;
@tailwind utilities;

.border-DFDFDF {
    border-color: #dfdfdf;
}

.text-404041 {
    color: #404041;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #E5E5E5;
}

.headline {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: bold;
    line-height: 4.5rem;
}

.text-535354 {
    color: #535354;
}

.ellipse {
    border: 3px solid #FF8A1F;
    border-radius: 9999px;
}

.text-5F5F64 {
    color: #5F5F64;
}

#philosophy {
    background-color: rgba(82,192,255,0.25);
    bottom: 1.9rem;
}

.three-quarters-circle {
    width: 0px;
    height: 0px;
    border-radius: 30px;
    border: 30px solid #45B3F2;
    border-top-color: transparent;
    -webkit-transform: rotate(135deg);
  }

  .text-718176 {
      color: #718176;
  }

  .bg-41B3F4 {
      background-color: rgba(65,179,244,0.5)
  }

  .text-727272 {
      color: #727272;
  }